<div class="filter-container">
  <mat-form-field>
    <mat-select placeholder="ID">
      <mat-option value="{{id}}" *ngFor="let id of idValues">{{id}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Name">
        <mat-option value="{{name}}" *ngFor="let name of nameValues">{{name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!--mat-form-field>
    <mat-select placeholder="Filter 3">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 4">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 5">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 6">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 7">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 8">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 9">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 10">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 11">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 12">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 13">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 14">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 15">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 16">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 17">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Filter 18">
      <mat-option value="option1">Option1</mat-option>
      <mat-option value="option2">Option2</mat-option>
      <mat-option value="option3">Option3</mat-option>
    </mat-select>
  </mat-form-field-->
  <br>
  <button mat-raised-button type="submit">Submit</button>
  <div style="height:50px;"></div>


</div>
