<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar >Filters</mat-toolbar>
    <div class="filter-container">
      <mat-form-field>
        <mat-select placeholder="Filter 1">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 2">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 3">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 4">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 5">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 6">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 7">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 8">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 9">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 10">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 11">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 12">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 13">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 14">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 15">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 16">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 17">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Filter 18">
          <mat-option value="option1">Option1</mat-option>
          <mat-option value="option2">Option2</mat-option>
          <mat-option value="option3">Option3</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit">Submit</button>
      <div style="height:50px;"></div>


    </div>

    <!----mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a href="#">Link 3</a>
    </mat-nav-list-->
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angularGridTest</span>
      <span class="navbar-fill-remaining-space"></span>
      <span>Logout</span>
    </mat-toolbar>
    <div>Where does this comes up? --> im gonna be a grid!</div>
  </mat-sidenav-content>
</mat-sidenav-container>
